<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{OperationsPageTitle}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="../webjars/bootstrap/4.6.0-1/css/bootstrap.min.css"
          th:href="@{../webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script src="../webjars/jquery/3.6.0/jquery.min.js"
            th:href="@{../webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: header">TOP MENU</div>
<!-- Body -->
<div class="container-fluid">
    <br/>
    <h1 th:text="#{OperationsPageTitle}">VALUE</h1>
    <div class="btn-group-sm">
        <a class="btn btn-outline-primary" href="/operations/new" role="button">Добавить операцию</a>
        <a class="btn btn-outline-primary" href="/" role="button" th:text="#{MainPageButton}">Return to Main</a>
    </div>
    <br/>
    <table class="table caption-top">
        <caption>Список операций</caption>
        <tr>
            <th>Наименование</th>
            <th>Группы обслуживания</th>
            <th>Пользователь</th>
            <th>Дата изменения</th>
            <th>Действия</th>
        </tr>
        <tr th:each="operation:${operationsList}">
            <td th:text="${operation.getName()}">VALUE</td>
            <td><p th:each="subOperation:${operation.getServiceGroups()}"
                   th:text="${subOperation.getName()}"></p>
            </td>
            <td th:text="${operation.getUserModified()}">VALUE</td>
            <td th:text="${operation.getTimeDateModified()}">VALUE</td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/operations/{id}(id=${operation.getId()})}" th:method="GET">
                        <input class="btn btn-outline-primary" type="submit" value="Подробнее">
                    </form>
                    <form th:action="@{/operations/{id}(id=${operation.getId()})}" th:method="DELETE">
                        <input class="btn btn-outline-danger" type="submit" value="Удалить">
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- Bootstrap script -->
<script src="../webjars/bootstrap/4.6.0-1/js/bootstrap.js"
        th:href="@{../webjars/bootstrap/4.6.0-1/js/bootstrap.js}"></script>
</body>
</html>